body {
    overflow-x: hidden;
}

.clickable {
    cursor: pointer;
}

.fs-7 {
    font-size: .8rem;
}

/*App*/
.App {
    height: 100vh;
    width: 100vw;
}

/*Main Content*/
#main-content {
    width: 650px;
}

@media (max-width: 680px) {
    #main-content {
        width: 100%;
    }
}

/*Sub-Footer*/
#subfooter-accordion {
    width: 800px;
}