body {
    overflow-x: hidden;
}

.fs-7 {
    font-size: .8rem;
}

/*App*/
.App {
    height: 100vh;
    width: 100vw;
}

/*Main Content*/
#main-content {
    width: 650px;
}

@media (max-width: 680px) {
    #main-content {
        width: 100%;
    }
}

/*Sub-Footer*/
#subfooter-accordion {
    width: 800px;
}

/*Toast*/
#toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

@media (max-width: 1380px) {
    #toast-container {
        top: 0px;
        right: 0px;
    }
}

@media (max-width: 900px) {
    #toast-container {
        top: 0%;
        right: auto;
    }
}